/* Sakura.css v1.3.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
favicon diablo log from https://www.pngwing.com/en/free-png-nlrpl
lilith image from https://www.wallpaperflare.com/diablo-4-lilith-diablo-blizzard-entertainment-wallpaper-yjbus
diable logo image from https://blizzard.gamespress.com/BlizzConline-Co-Streamer-Asset-Pack
History full image from https://www.purediablo.com/the-diablo-history-timeline
Lilith and inarius pic is form https://www.mirror.co.uk/gaming/diablo-4-should-offline-mode-30363158
Fieldboss image from https://cdn.vox-cdn.com/thumbor/OQXvMt4ETDN_Bk5_22YRdFwVL-s=/0x0:7296x4416/920x613/filters:focal(3065x1625:4231x2791):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/65615824/Combat_Scosglen_Multiplayer_World_Boss_png_jpgcopy.0.jpg
 */
 /* Reset default margin and padding for all elements */
/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Rokkitt", sans-serif;
  font-size: 1.0rem;
  line-height: 1.618;
  color: #FFFFFF;
  background-image: url('../images/Lilith.jpg');
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: cover; /* Resize background image to cover entire container */
  background-position: center center; /* Center the background image */
  background-attachment: fixed; /* Prevent background from scrolling */
  margin: 0; /* Remove default margin */
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

/* Logo image styles */
.logo-img {
  margin-top: 50px;
  width: 400px;
  height: auto;
}

/* Navigation styles */
.nav__links a,
.cta,
.overlay__content a {
  font-weight: 1000;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  font-size: 30px;
}

.nav__links li {
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

/* Call to Action styles */
.cta {
  order: 2;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav styles */
.menu {
  display: none;
}

/* Overlay styles */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

/* Responsive adjustments */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Content section styles */
.content-section {
  padding-top: 100px;
  padding-bottom: 100px; /* Add padding to the bottom of content sections */
}

/* Section styles */
section {
  text-align: center;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 50px 0; /* Adjust padding for the footer */
}
/*Info page*/
.zoomable-image {
  max-width: 80%; /* Ensure the image fits within the container */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.zoomed {
  transform: scale(1.5); /* Zoom effect */
}

.review-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.review-card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.review-card p {
  margin: 10px 0;
}

